html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #d8e3d8;
}